<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="debut.php" />
                <add value="debut.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="401" />
            <remove statusCode="403" />
            <remove statusCode="404" />
            <error statusCode="401" path="/erreur.php" responseMode="ExecuteURL" />
            <error statusCode="403" path="/erreur.php" responseMode="ExecuteURL" />
            <error statusCode="404" path="/erreur.php" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="06:00:00" />
        </staticContent>
        <rewrite>
          <rules>
			<clear />
            <rule name="RedirectionGlobaleMetadictionnaire" enabled="true" stopProcessing="true">
               <match url="^(.*)$" ignoreCase="false" />
                 <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                 </conditions>
                <action type="Rewrite" url="index.php" appendQueryString="true" />
             </rule>
           </rules>
         </rewrite>
    </system.webServer>
</configuration>
