* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}


#header {
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#footer {
  height: 64px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

iframe {
  border: none;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
}

#medict {
  display: flex;
  height: 99.5%;
  position: relative;
}

#col1,
#col2,
#col3 {
  position: relative;
  height: 100%;
}

#col2 iframe,
#col3 iframe {
  height: 100%;
}

#col1,
#col2 {
  flex: 0 0 auto;
  width: 25rem;
}

#col1 {
  display: flex;
  flex-direction: column;
}


#col1 > div.index {
  height: 100%;
}

#col1 iframe {
  width: 100%;
  height: 100%;
}

#col1 form {
  width: 100%;
  margin: 0;
  padding: 1rem 2.5rem 1rem 1rem;
}
#col1 input.sugg {
  width: 100%;
  font-size: 150%;
  color: #8b1538;
  font-weight: bold;
}
input:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
/* range thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;

  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

}
input[type=range]::-moz-range-thumb {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

input[type=range]::-ms-thumb  {
  cursor: pointer;
  position: relative;
  z-index: 10;
}


/* range track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #ccc;
  border-radius: 1.3px;
  border: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  background: #ccc;
  border-radius: 1.3px;
  border: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-ms-track {
  width: 100%;  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}




div.an_minmax {
  text-align: center;
  position: relative;
  z-index: 2;
}

input.an {
  width: 3.5em;
  text-align: center;
}

#col4 {
  position: relative;
  width: 800px;
}
#col4 iframe {
  padding: 0;
  height: 100%;
  min-width: 1064px;
}
#col4 .prevnext {
  width: 100%;
  position: absolute;
}
/*
main {
  height: 100%;
  position: relative;
  padding-top: 85px;
  padding-bottom: 64px;
}
*/


body.orth {
  margin: 0;
  padding: 0;
}

body.refs {
  padding: 1rem 0 2rem 0;
}

body.facs h1 {
  margin: 0;
}

a.entree mark {
  background: transparent;
  color: #8b1538;
}

a.entree,
body.orth a {
  text-decoration: none;
  color: #666;
}
a.entree.active,
body.orth a.active {
  color: #8b1538;
  font-weight: bold;
}

div.entree:hover,
body.orth a:hover {
  background-color: #eee;
}

a.terme {
  display: block;
  margin-left: 5px; /* pour copier coller */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

a.terme small {
  position: absolute;
  right: 1rem;
  background-color: rgba(255, 255, 255, .7);
  color: #000;
}

section.volume {
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 0 0 5px 0;
}

div.volume {
  margin-bottom: 5px;
  padding: 0 5px;
  white-space: nowrap;
  background: #ccc;
  color: #ffffff;
  font-weight: bold;
}

div.entree {
  border-bottom: 1px #ccc solid;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

a.entree {
  display: block;
  margin-left: 5px; /* pour copier coller */
}

img.facs {
  margin-left: 2rem;
  margin-right: 2rem;
}

.facsprev,
.facsnext {
  position: fixed;
  height: 50%;
  padding-top: 22%;
  top: 25%;
  text-align: center;
  width: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #8b1538;
}

.facsprev:hover,
.facsnext:hover {
  background: #eeeeee;
}
.facsprev {
  left: 0;
}
.facsnext {
  right: 0;
}
