/** biusante.css overloading, assurer une vue de type desktop */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
}

#tete {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

#pied {
    flex: 0 0 auto;
    height: auto;
}

#upper-footer>span.clearfix {
    display: none;
}

#upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upper-footer>* {
    display: block;
    float: none;
}

#logos-institutionnels {
    padding-top: 2px;
}

#liens-utilitaires {
    text-align: right;
}

#conteneur-ventre {
    flex: 1 0 auto;
    padding-bottom: 0px;
    padding: 1em 1em 0 1em;
    overflow: hidden;
}

#medict {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}


/** default html */

mark {
    font-weight: bold;
    color: var(--text);
    background-color: var(--form_bg);
}


/** specific medict */

:root {
    --bg: #fff;
    --tonic: #8a1538;
    --text: #000;
    --gray: #666;
    --bghi: rgba(192, 192, 192, .9);
    --form_bg: #e0e4cd;
    --form_border: #7e8b49;
    --form_color: #7e8b49;
    --button_bg: #464d28;
    --button_color: #c8d0a6;
}


/* Search form  */

form.recherche {
    font-size: 0.85rem;
    color: var(--form_color);
    padding: 1rem 1rem 1rem 1rem;
    background: var(--form_bg);
    margin: 0;
    width: 100%;
}

form.recherche button,
form.recherche input {
    border: 1px solid var(--form_color);
    border-radius: 3px;
}

form.recherche .topmarg {
    margin-top: 1rem;
}

form.recherche .bislide .values {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 100%;
}

form.recherche button {
    background: var(--button_bg);
    color: var(--button_color);
}

form.recherche button[type="submit"] {
    /* hide the submit button */
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
    visibility: hidden;
}

.bislide {
    width: 100%;
    display: inline-block;
    text-align: left;
}

form.recherche input[type="text"],
.bislide input[type="range"] {
    /* Specific width is required */
    width: 100%;
    height: 2rem;
    background-color: #fff;
}


/* Bislide styling (for date) */

.bislide {
    /* required */
    position: relative;
}

.bislide input[type="range"] {
    /* Hides the slider */
    -webkit-appearance: none;
    /* Otherwise white in Chrome */
    background: transparent;
    margin: 0;
    padding: 0;
    /* no global pointer events */
    pointer-events: none;
    overflow: hidden;
    outline: none;
    position: relative;
}

.bislide input[type="range"]:first-of-type {
    /* hide the first range, except button */
    position: absolute;
    background-color: var(--bg);
}

.bislide input[type=range]::-webkit-slider-thumb {
    /* Specific WebKit/chrome */
    pointer-events: all;
    -webkit-appearance: none;
    border: 1px solid var(--textlo);
    height: 2rem;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
}

.bislide input[type=range]::-moz-range-thumb {
    /* specific Firefox */
    pointer-events: all;
    border: 1px solid var(--textlo);
    height: 100%;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.bislide input[type=range]::-ms-thumb {
    /* specific IE */
    pointer-events: all;
    border: 1px solid var(--form_border);
    width: 16px;
    border-radius: 3px;
    background: var(--borderlo);
    cursor: pointer;
}

.bislide input[type=range]::-ms-track {
    /* specific IE */
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input.an {
    width: 3.5em;
    text-align: center;
}


/*
#header {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#footer {
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

#col1,
#col2,
#col3 {
    position: relative;
    height: 100%;
}

#col1,
#col2 {
    flex: 0 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

#entrees {
    flex: 1 1 auto;
    height: 0px;
    overflow-y: auto;
}

#index {
    flex: 1 1 auto;
    overflow-y: scroll;
    height: 0px;
    padding: 1rem 0;
    border-bottom: 5px solid var(--form_bg);
    border-left: 5px solid var(--form_bg);
}

#entrees,
#index {
    /* Foreground, Background */
    scrollbar-color: var(--button_color) var(--form_bg);
}

#entrees::-webkit-scrollbar,
#index::-webkit-scrollbar {
    /*
    width: 10px;
    height: 10px;
    */
}

#entrees::-webkit-scrollbar-thumb,
#index::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--button_color);
}

#entrees::-webkit-scrollbar-track,
#index::-webkit-scrollbar-track {
    /* Background */
    background: var(--form_bg);
}

#index a {
    display: block;
    padding: 3px 1rem;
    line-height: 100%;
    text-decoration: none;
    color: var(--gray);
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}

div.entree:hover,
#index a:hover {
    background-color: var(--form_bg);
}

#entrees a.active,
#index a.active {
    background-color: var(--form_bg);
    font-weight: bold;
    color: var(--text);
}

#col1 input.sugg {
    width: 100%;
    font-size: 150%;
    color: var(--tonic);
    font-weight: bold;
}

input:focus {
    outline: none;
}

#col4 {
    flex: 1 1 auto;
}

#viewcont>img {
    width: 50px;
}


/*
main {
  height: 100%;
  position: relative;
  padding-top: 85px;
  padding-bottom: 64px;
}
*/

body.refs {
    padding: 1rem 0 2rem 0;
}

body.facs h1 {
    margin: 0;
}

a.entree mark {
    background: transparent;
    color: var(--tonic);
}

a.entree {
    text-decoration: none;
    color: var(--gray);
}

a.entree b {
    color: var(--button_bg);
}

a.terme {
    display: block;
    margin-left: 5px;
    /* pour copier coller */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

a.terme small {
    position: absolute;
    right: 1rem;
    background-color: var(--bghi);
    color: #000;
}

section.volume {
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 0 0 5px 0;
}

div.volume {
    margin-bottom: 5px;
    padding: 0 5px;
    white-space: nowrap;
    background: #ccc;
    color: #ffffff;
    font-weight: bold;
}

div.entree {
    border-bottom: 1px solid var(--form_bg);
}

a.entree {
    padding: 0.3rem 1rem 0.3rem 1rem;
    display: block;
}

img.facs {
    margin-left: 2rem;
    margin-right: 2rem;
}

.facsprev,
.facsnext {
    position: fixed;
    height: 50%;
    padding-top: 22%;
    top: 25%;
    text-align: center;
    width: 2rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--tonic);
}

.facsprev:hover,
.facsnext:hover {
    background: #eeeeee;
}

.facsprev {
    left: 0;
}

.facsnext {
    right: 0;
}


/* biblio */

#dico_titre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
    padding: 1rem;
}

#dico_titre .dico_label {
    display: block;
    width: 45%;
    padding: 5px;
    cursor: pointer;
    color: var(--gray);
}

#dico_titre .dico_label.checked {
    color: #000;
}

#dico_titre .dico_label:hover {
    background-color: var(--bghi);
}

.checkall {
    background-color: var(--bghi);
    font-weight: bold;
    padding: 5px;
}

#dico_titre button.submit {
    float: right;
}