@charset "utf-8";

:root {
    --bg: #fff;
    --tonic: #8a1538;
    --text: #000;
    --gray: #666;
    --bghi: rgba(192, 192, 192, .9);
    --form_bg: #e0e4cd;
    --form_border: #7e8b49;
    --form_color: #7e8b49;
    --button_bg: #464d28;
    --button_color: #c8d0a6;
    --med: rgba(128, 0, 0, .5);
    --vet: rgba(96, 32, 0, .5);
    --pharm: rgba(0, 0, 128, .5);
    --sc: rgba(0, 32, 96, .5);
    --gloss: rgba(0, 32, 96, .5);
    --hist: rgba(128, 128, 128, .5);
    --autres: rgba(128, 128, 128, .5);
    --biogr: rgba(96, 96, 128, .5);
    --scroll-width: 6px;
}


/** biusante.css overloading, assurer une vue de type desktop */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    user-drag: none;
    /*
    cursor: auto;
    -webkit-user-select: text;
    -moz-select: text;
    -ms-select: text;
    user-select: text;
    */
}

#page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
}

#tete {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

#header-main-content {
    height: auto;
    width: auto;
    align-items: flex-end;
}

#main-logo-container img {
    height: 55px;
    padding-bottom: 10px;
}

#fil {
    padding: 0;
}

#pied {
    flex: 0 0 auto;
    height: 22px;
    background-color: var(--form_bg);
    /*
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    */
}

#logos-institutionnels {
    padding: 0;
}

#logos-institutionnels span {
    margin: 0;
}

#pied img.logo {
    height: 16px;
}

#pied .up-default-button,
#pied a.up-default-button,
#pied .up-footer-button,
#pied a.up-footer-button {
    padding: 0 0.8em;
    border-style: none;
    line-height: 1.5em;
}

#pied:hover #upper-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 2rem 0 2rem;
    transition: all .1s ease 0s;
    height: auto;
    background-color: var(--form_bg);
}

#pied:hover img.logo {
    height: 48px;
}

#pied:hover .up-default-button,
#pied:hover a.up-default-button,
#pied:hover .up-footer-button,
#pied:hover a.up-footer-button {
    padding: 0 0.8em;
    border-style: solid;
    border-radius: 26px;
    line-height: 2.7em;
    white-space: nowrap;
    transition: all .2s ease 0s;
}

#upper-footer>span.clearfix {
    display: none;
}

#upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upper-footer>* {
    display: block;
    float: none;
}

#logos-institutionnels {
    padding-top: 2px;
}

#liens-utilitaires {
    text-align: right;
}

#conteneur-ventre {
    flex: 1 0 auto;
    padding-bottom: 0px;
    padding: 0;
    overflow: hidden;
}

#medict {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 3px solid var(--form_bg);
    border-left: 25px solid var(--form_bg);
    border-right: 25px solid var(--form_bg);
}


/** default html */

mark {
    font-weight: normal;
    color: var(--text);
    background-color: var(--form_bg);
}


/** specific medict */


/* Search form  */

form.recherche {
    font-size: 0.85rem;
    color: var(--form_color);
    padding: 1rem 16px 1rem 0;
    background: var(--form_bg);
    margin: 0;
    width: 100%;
}

form.recherche button,
form.recherche input[type="text"] {
    border: 1px solid var(--form_color);
    border-radius: 3px;
}

[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0.2rem 0.5rem;
    font: inherit;
    color: var(--form_border);
    width: 1rem;
    height: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--form_border);
    border-radius: 3px;
    background-color: var(--bg);
    /*
    box-shadow: inset 0px 0px 3px var(--form_border);
    */
}

[type="checkbox"]:checked {
    border-color: var(--form_border);
    background-color: var(--form_bg);
    box-shadow: inset 0px 0px 5px var(--form_border);
}

form.recherche .topmarg {
    margin-top: 1rem;
}

#q,
form.recherche .bislide .values {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 100%;
}

#q {
    text-align: left;
    padding: 0.1rem 1rem;
}

#q::placeholder {
    font-weight: normal;
    font-style: italic;
    font-size: 85%;
}

form.recherche button {
    background: var(--button_bg);
    color: var(--button_color);
}

form.recherche button[type="submit"] {
    /* hide the submit button */
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
    visibility: hidden;
}

.bislide {
    width: 100%;
    display: inline-block;
    text-align: left;
}

form.recherche input[type="text"],
.bislide input[type="range"] {
    /* Specific width is required */
    width: 100%;
    height: 2rem;
    background-color: #fff;
}


/* Bislide styling (for date) */

.bislide {
    /* required */
    position: relative;
}

.bislide input[type="range"] {
    /* Hides the slider */
    -webkit-appearance: none;
    /* Otherwise white in Chrome */
    background: transparent;
    margin: 0;
    padding: 0;
    /* no global pointer events */
    pointer-events: none;
    overflow: hidden;
    outline: none;
    position: relative;
}

.bislide input[type="range"]:first-of-type {
    /* hide the first range, except button */
    position: absolute;
}

.bislide input[type=range]::-webkit-slider-thumb {
    /* Specific WebKit/chrome */
    pointer-events: all;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--bg);
    height: 2rem;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
}

.bislide input[type=range]::-moz-range-thumb {
    /* specific Firefox */
    box-sizing: border-box;
    pointer-events: all;
    border-top: 1px solid var(--bg);
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--bg);
    height: 100%;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.bislide input[type="range"]:first-of-type::-moz-range-thumb {
    border-left: 1px solid var(--bg);
    border-right: 1px solid var(--text);
}

.bislide input[type=range]::-ms-thumb {
    /* specific IE */
    pointer-events: all;
    border-bottom: 1px solid var(--bg);
    width: 16px;
    border-radius: 3px;
    background: var(--borderlo);
    cursor: pointer;
}

.bislide input[type=range]::-ms-track {
    /* specific IE */
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input.an {
    width: 3.5em;
    text-align: center;
}


/*
#header {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#footer {
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

#col1,
#col2,
#col3 {
    position: relative;
    height: 100%;
}

#col1,
#col2 {
    flex: 0 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

#col1>nav.data {
    flex: 1 1 auto;
    height: 0px;
}


/* checks titre */

.flexbuts {
    display: flex;
}

a.but {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.6rem;
    font-weight: bold;
    border: 1px solid var(--form_color);
    border-radius: 3px;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    color: var(--tonic);
}

#titres_open {
    flex-grow: 2;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid var(--form_color);
    border-radius: 3px;
    cursor: pointer;
    height: 2rem;
}

.but:hover,
#titres_open:hover {
    background-color: var(--bg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 510;
    padding: 2rem 2rem 2rem 30%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

.modal .close {
    position: absolute;
    top: -10px;
    right: 0px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#titres_body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #000;
    font-size: 1rem;
    justify-content: flex-start;
    background-color: var(--form_bg);
}

#titres_body header {
    padding: 0.5rem 1rem;
    display: flex;
    border-bottom: 1px solid var(--form_border);
}

#titres_body .selector {
    /*
    border: 1px solid var(--form_color);
    padding: 0.2rem 1rem 0.2rem 0;
    */
    cursor: pointer;
    display: flex;
    align-items: center
}

#medica u,
a.entree u,
form u,
#titres_body u {
    font-variant: small-caps;
    text-decoration: none;
}

#titres_body u {}

#titres_cols {
    padding: 1rem 0 1rem 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#titres_cols>* {
    width: 48%;
    display: flex;
    position: relative;
    /* align-items: center; */
    margin-bottom: 1px;
    padding: 1px 0;
    margin: 1px 1rem 0 0;
}

#titres_cols .titre:hover {
    box-shadow: inset 0px 0px 5px var(--form_border);
}

#titres_cols>* label {
    width: 100%;
}

.selector.tag,
#titres_cols .titre mark {
    border-radius: 0.4rem;
    padding: 0 0.2rem;
    margin-left: 0.3rem;
    color: var(--bg);
    font-size: 90%;
}

#titres_cols .titre mark {
    white-space: nowrap;
}

.selector.med,
mark.med {
    background-color: var(--med);
}

.selector.vet,
mark.vet {
    background-color: var(--vet);
}

.selector.pharm,
mark.pharm {
    background-color: var(--pharm);
}

.selector.sc,
mark.sc {
    background-color: var(--sc);
}

.selector.autres,
mark.autres {
    background-color: var(--autres);
}

.selector.hist,
mark.hist {
    background-color: var(--hist);
}

.selector.gloss,
mark.gloss {
    background-color: var(--gloss);
}

.selector.biogr,
mark.biogr {
    background-color: var(--biogr);
}

#titres_cols .titre.checked {
    background-color: var(--bg);
}

#allFUncheck {
    display: none;
}


/*
#col2>* {
    flex: 0 0 50%;
}
#col2>div.entrees {
    flex: 5 0 80%;
}

#col2>div.sugg {
    flex: 2 1 20%;
}
*/

#sugg_trad {
    display: flex;
    position: relative;
}

#sugg_trad>* {
    flex: 0 0 50%;
}

div.pannel header,
#col3 header {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.7rem;
    background-color: var(--form_bg);
}

div.pannel header {
    text-align: center;
}

div.pannel {
    position: relative;
}

div.pannel>nav.data {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.7rem;
    bottom: 0;
}

#mots,
#entrees {
    padding: 1rem 0 1rem var(--scroll-width);
}

#mots .end {
    height: calc(100% - 5em);
}

nav.data,
.scrollable {
    overflow-y: scroll;
    /* Foreground, Background */
    scrollbar-color: var(--button_color) var(--bg);
    scrollbar-width: thin;
}

nav.data::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
    /* needed for colors */
    width: var(--scroll-width);
    height: var(--scroll-width);
}

nav.data::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--button_color);
}

nav.data::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
    /* Background */
    background: var(--bg);
}

#mots a {
    display: block;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    line-height: 100%;
    text-decoration: none;
    color: var(--gray);
    cursor: pointer;
    text-decoration: none;
}

nav.data a:hover {
    background-color: var(--form_bg);
}

nav.data a.active {
    background-color: var(--form_bg);
    /* font-weight: bold; */
    color: var(--text);
}

div.entree {}

a.entree {
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    display: block;
    border-bottom: 1px solid var(--form_bg);
}

#pantrad {
    border-left: 1px solid var(--button_color);
}

details>summary {
    list-style: none;
    white-space: nowrap;
}


/* a.sugg::before, */

details>summary::before {
    color: var(--button_color);
    border-color: var(--form_bg);
    display: inline-block;
    content: '✚';
    text-align: center;
    width: 1.1rem;
    line-height: 1.4rem;
    /* vertical-align: bottom; */
    border-width: 1px;
    border-style: solid solid none solid;
}

a.sugg {
    padding: 1px 0.5rem 0 0.5rem;
    line-height: 1.4rem;
}

a.sugg small {
    color: var(--text);
}


/*
a.sugg::before {
    position: absolute;
    background-color: var(--bg);
    margin-left: -1.6rem;
    margin-top: 0px;
    border: none;
    display: none;
}

a.sugg:hover::before {
    display: inline-block;
    content: '⬉';
}
*/

details[open]>summary::before {
    content: '─';
}


/*
details.sugg summary:hover::before {
    background-color: var(--form_bg);
}
*/

details.sugg summary:hover::before {
    color: var(--button_bg);
}

details.sugg {
    margin-top: 0.3rem;
    padding-left: 0.5rem;
}

details.sugg summary {
    border-bottom: 1px solid var(--form_bg);
}

details.sugg summary a {
    display: inline-block;
    text-decoration: none;
}

#col1 input.sugg {
    width: 100%;
    font-size: 150%;
    color: var(--tonic);
    font-weight: bold;
}

input:focus {
    outline: none;
}

#col3 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#col3>div {
    flex: 5 0 auto;
    height: 80%;
}

#viewcont>img {
    width: 50px;
}


/*
main {
  height: 100%;
  position: relative;
  padding-top: 85px;
  padding-bottom: 64px;
}
*/

body.refs {
    padding: 1rem 0 2rem 0;
}

body.facs h1 {
    margin: 0;
}

a.entree mark {
    background: transparent;
    color: var(--tonic);
}

a.entree {
    text-decoration: none;
    color: var(--gray);
}

a.entree b {
    color: var(--button_bg);
}

a.terme {
    display: block;
    margin-left: 5px;
    /* pour copier coller */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

a.terme small {
    position: absolute;
    right: 1rem;
    background-color: var(--bghi);
    color: #000;
}

section.volume {
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 0 0 5px 0;
}

div.volume {
    margin-bottom: 5px;
    padding: 0 5px;
    white-space: nowrap;
    background: #ccc;
    color: #ffffff;
    font-weight: bold;
}

#medica {
    display: flex;
    width: 100%;
}

#medica .entree {
    padding: 0;
    display: block;
    width: 5rem;
}

#medica .entree[href]:hover {
    background-color: var(--bg);
}

#medica-prev[href]::before {
    width: 1em;
    content: '◀';
}

#medica-ext {
    flex-grow: 2;
    text-align: center;
}

#medica-next[href]::after {
    position: absolute;
    right: 0;
    text-align: right;
    width: 1em;
    content: '▶';
}


/* biblio */

#dico_titre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
    padding: 1rem;
}

#dico_titre .dico_label {
    display: block;
    width: 45%;
    padding: 5px;
    cursor: pointer;
    color: var(--gray);
}

#dico_titre .dico_label.checked {
    color: #000;
}

#dico_titre .dico_label:hover {
    background-color: var(--bghi);
}

.checkall {
    background-color: var(--bghi);
    font-weight: bold;
    padding: 5px;
}

#dico_titre button.submit {
    float: right;
}


/* split override */

.but.gutter {
    display: none;
}

.gutter {
    background-color: var(--form_border);
}

.gutter-vertical {
    height: 10px;
    border-top: 1px solid var(--button_color);
    border-bottom: 1px solid var(--button_color);
    background-color: var(--form_bg);
}

.gutter-horizontal {
    width: 10px;
    border-right: 1px solid var(--button_color);
    border-left: 1px solid var(--button_color);
    background-color: var(--form_bg);
}


/* viewer override */

div.viewer-footer {
    position: absolute;
    left: 0.5rem;
    bottom: auto;
    right: auto;
    text-align: left;
    top: 0rem;
}

.viewer-toolbar>ul>li {
    list-style: none;
    list-style-image: none;
}

.viewer-hd {
    height: 100px;
}

.viewer-ld {
    background-image: url('data:image/svg+xml;utf-8,<svg height="48" width="48" xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 255, 255, 1)"><path d="M7.9 39a2.8 2.8 0 0 1-2.05-.85A2.8 2.8 0 0 1 5 36.1V11.9c0-.8.28-1.48.85-2.05A2.8 2.8 0 0 1 7.9 9h32.2c.8 0 1.48.28 2.05.85.57.57.85 1.25.85 2.05v24.2c0 .8-.28 1.48-.85 2.05a2.8 2.8 0 0 1-2.05.85Zm0-2.25h32.2c.17 0 .32-.07.45-.2s.2-.28.2-.45V11.9a.62.62 0 0 0-.2-.45.62.62 0 0 0-.45-.2H7.9a.62.62 0 0 0-.45.2.62.62 0 0 0-.2.45v24.2c0 .17.07.32.2.45s.28.2.45.2zm-.65 0v-25.5z"/></svg>');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.viewer-hd {
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="rgb(255, 255, 255, 1)"><path d="M12.6 29.8h2.05v-4.35H20v4.35h2V18.2h-2v5.25h-5.35V18.2H12.6Zm13.4 0h6.95q.95 0 1.7-.725t.75-1.725v-6.7q0-1-.75-1.725-.75-.725-1.7-.725H26Zm2-2v-7.6h5.05q.1 0 .2.1t.1.2v7q0 .1-.1.2t-.2.1ZM7.9 39q-1.2 0-2.05-.85Q5 37.3 5 36.1V11.9q0-1.2.85-2.05Q6.7 9 7.9 9h32.2q1.2 0 2.05.85.85.85.85 2.05v24.2q0 1.2-.85 2.05-.85.85-2.05.85Zm0-2.25h32.2q.25 0 .45-.2t.2-.45V11.9q0-.25-.2-.45t-.45-.2H7.9q-.25 0-.45.2t-.2.45v24.2q0 .25.2.45t.45.2Zm-.65 0V11.25 36.75Z"/></svg>');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 20px;
    width: 20px;
}

.viewer-width::before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAAUCAYAAABWOyJDAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAQPSURBVHic7Zs/iFxVFMa/0U2UaJGksUgnIVhYxVhpjDbZCBmLdAYECxsRFBTUamcXUiSNncgKQbSxsxH8gzAP3FU2jY0kKKJNiiiIghFlccnP4p3nPCdv3p9778vsLOcHB2bfveeb7955c3jvvNkBIMdxnD64a94GHMfZu3iBcRynN7zAOI7TG15gHCeeNUkr8zaxG2lbYDYsdgMbktBsP03jdQwljSXdtBhLOmtjowC9Mg9L+knSlcD8TNKpSA9lBpK2JF2VdDSR5n5J64m0qli399hNFMUlpshQii5jbXTbHGviB0nLNeNDSd9VO4A2UdB2fp+x0eCnaXxWXGA2X0au/3HgN9P4LFCjIANOJdrLr0zzZ+BEpNYDwKbpnQMeAw4m8HjQtM6Z9qa917zPQwFr3M5KgA6J5rTJCdFZJj9/lyvGhsDvwFNVuV2MhhjrK6b9bFiE+j1r87eBl4HDwCF7/U/k+ofAX5b/EXBv5JoLMuILzf3Ap6Z3EzgdqHMCuF7hcQf4HDgeoHnccncqdK/TvSDWffFXI/exICY/xZyqc6XLWF1UFZna4gJ7q8BsRvgd2/xXpo6P+D9dfT7PpECtA3cnWPM0GXGFZh/wgWltA+cDNC7X+AP4GzjZQe+k5dRxuYPeiuXU7e1qwLpDz7dFjXKRaSwuMLvAlG8zZlG+YmiK1HoFqT7wP2z+4Q45TfEGcMt01xLoNZEBTwRqD4BLpnMLeC1A41UmVxsXgXeBayV/Wx20rpTyrpnWRft7p6O/FdqzGrDukPNtkaMoMo3FBdBSQMOnYBCReyf05s126fU9ytfX98+mY54Kxnp7S9K3kj6U9KYdG0h6UdLbkh7poFXMfUnSOyVvL0h6VtIXHbS6nOP+s/Zm9mvyXW1uuC9ohZ72E9uDmXWLJOB1GxsH+DxPftsB8B6wlGDN02TAkxG6+4D3TWsbeC5CS8CDFce+AW500LhhOW2020TRjK3b21HEmgti9m0RonxbdMZeVzV+/4tF3cBpP7E9mKHNL5q8h5g0eYsCMQz0epq8gQrwMXAgcs0FGXGFRcB9wCemF9PkbYqM/Bas7fxLwNeJPdTdpo4itQti8lPMqTpXuozVRVXPpbHI3KkNTB1NfkL81j2mvhDp91HgV9MKuRIqrykj3WPq4rHyL+axj8/qGPmTqi6F9YDlHOvJU6oYcTsh/TYSzWmTE6JT19CtLTJt32D6CmHe0eQn1O8z5AXgT4sx4Vcu0/EQecMydB8z0hUWkTd2t4CrwNEePqMBcAR4mrBbwyXLPWJa8zrXmmLEhNBmfpkuY2102xxrih+pb+ieAb6vGhuA97UcJ5KR8gZ77K+99xxeYBzH6Q3/Z0fHcXrDC4zjOL3hBcZxnN74F+zlvXFWXF9PAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 280px;
    color: transparent;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    width: 20px;
}

.viewer-width::before {
    background-position: -180px 0;
    content: "Image width";
}