:root {
    --bg: #fff;
    --tonic: #8a1538;
    --text: #000;
    --gray: #666;
    --bghi: rgba(192, 192, 192, .9);
    --form_bg: #e0e4cd;
    --form_border: #7e8b49;
    --form_color: #7e8b49;
    --button_bg: #464d28;
    --button_color: #c8d0a6;
}


/** biusante.css overloading, assurer une vue de type desktop */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#page {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
}

#tete {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

#pied {
    flex: 0 0 auto;
    height: auto;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

#upper-footer>span.clearfix {
    display: none;
}

#upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#upper-footer>* {
    display: block;
    float: none;
}

#logos-institutionnels {
    padding-top: 2px;
}

#liens-utilitaires {
    text-align: right;
}

#conteneur-ventre {
    flex: 1 0 auto;
    padding-bottom: 0px;
    padding: 0;
    overflow: hidden;
}

#medict {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 5px solid var(--form_bg);
    border-left: 2rem solid var(--form_bg);
    border-right: 2rem solid var(--form_bg);
}


/** default html */

mark {
    font-weight: normal;
    color: var(--text);
    background-color: var(--form_bg);
}


/** specific medict */


/* Search form  */

form.recherche {
    font-size: 0.85rem;
    color: var(--form_color);
    padding: 1rem 16px 1rem 0;
    background: var(--form_bg);
    margin: 0;
    width: 100%;
}

form.recherche button,
form.recherche input {
    border: 1px solid var(--form_color);
    border-radius: 3px;
}

form.recherche .topmarg {
    margin-top: 1rem;
}

#q,
form.recherche .bislide .values {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    line-height: 100%;
}

#q {
    text-align: left;
    padding: 0.1rem 1rem;
}

form.recherche button {
    background: var(--button_bg);
    color: var(--button_color);
}

form.recherche button[type="submit"] {
    /* hide the submit button */
    margin: 0;
    padding: 0;
    height: 1px;
    line-height: 1px;
    visibility: hidden;
}

.bislide {
    width: 100%;
    display: inline-block;
    text-align: left;
}

form.recherche input[type="text"],
.bislide input[type="range"] {
    /* Specific width is required */
    width: 100%;
    height: 2rem;
    background-color: #fff;
}


/* Bislide styling (for date) */

.bislide {
    /* required */
    position: relative;
}

.bislide input[type="range"] {
    /* Hides the slider */
    -webkit-appearance: none;
    /* Otherwise white in Chrome */
    background: transparent;
    margin: 0;
    padding: 0;
    /* no global pointer events */
    pointer-events: none;
    overflow: hidden;
    outline: none;
    position: relative;
}

.bislide input[type="range"]:first-of-type {
    /* hide the first range, except button */
    position: absolute;
}

.bislide input[type=range]::-webkit-slider-thumb {
    /* Specific WebKit/chrome */
    pointer-events: all;
    -webkit-appearance: none;
    border-bottom: 1px solid var(--bg);
    height: 2rem;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
}

.bislide input[type=range]::-moz-range-thumb {
    /* specific Firefox */
    box-sizing: border-box;
    pointer-events: all;
    border-top: 1px solid var(--bg);
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--bg);
    height: 100%;
    width: 16px;
    border-radius: 3px;
    background: var(--form_border);
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.bislide input[type="range"]:first-of-type::-moz-range-thumb {
    border-left: 1px solid var(--bg);
    border-right: 1px solid var(--text);
}

.bislide input[type=range]::-ms-thumb {
    /* specific IE */
    pointer-events: all;
    border-bottom: 1px solid var(--bg);
    width: 16px;
    border-radius: 3px;
    background: var(--borderlo);
    cursor: pointer;
}

.bislide input[type=range]::-ms-track {
    /* specific IE */
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input.an {
    width: 3.5em;
    text-align: center;
}


/*
#header {
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#footer {
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

#col1,
#col2,
#col3 {
    position: relative;
    height: 100%;
}

#col1,
#col2 {
    flex: 0 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

#col1>nav.data {
    flex: 1 1 auto;
    height: 0px;
}


/* checks titre */

.modal {
    display: none;
    position: fixed;
    z-index: 510;
    padding: 5rem 2rem 2rem 25%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#titres_flex {
    max-height: 100%;
    overflow: auto;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #000;
    font-size: 1rem;
}

#titres_flex>* {
    width: 25rem;
}


/*
#col2>* {
    flex: 0 0 50%;
}
#col2>div.entrees {
    flex: 5 0 80%;
}

#col2>div.sugg {
    flex: 2 1 20%;
}
*/

div.pannel header,
#col3 header {
    margin: 0;
    padding: 2px 0;
    font-weight: normal;
    font-size: 1.3rem;
    background-color: var(--form_bg);
}

div.pannel header {
    text-align: center;
}

div.pannel {
    position: relative;
}

div.pannel>nav.data {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.7rem;
    bottom: 0;
}

#mots,
#entrees {
    padding: 1rem 0 1rem 0.5rem;
}

nav.data,
.scrollable {
    overflow-y: scroll;
    /* Foreground, Background */
    scrollbar-color: var(--button_color) var(--form_bg);
}

nav.data::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
    /* needed for colors */
    width: 16px;
    height: 16px;
}

nav.data::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
    /* Foreground */
    background: var(--button_color);
}

nav.data::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
    /* Background */
    background: var(--form_bg);
}

#mots a {
    display: block;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    line-height: 100%;
    text-decoration: none;
    color: var(--gray);
    cursor: pointer;
    text-decoration: none;
}

nav.data a:hover {
    background-color: var(--form_bg);
}

nav.data a.active {
    background-color: var(--form_bg);
    font-weight: bold;
    color: var(--text);
}

div.entree {}

a.entree {
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    display: block;
    border-bottom: 1px solid var(--form_bg);
}

details.sugg summary {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-bottom: 1px solid var(--form_bg);
}

details.sugg summary a {
    display: inline-block;
    text-decoration: none;
}

details.sugg summary:hover {
    background-color: var(--form_bg);
}

#col1 input.sugg {
    width: 100%;
    font-size: 150%;
    color: var(--tonic);
    font-weight: bold;
}

input:focus {
    outline: none;
}

#col3 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#col3>div {
    flex: 5 0 auto;
    height: 80%;
}

#viewcont>img {
    width: 50px;
}


/*
main {
  height: 100%;
  position: relative;
  padding-top: 85px;
  padding-bottom: 64px;
}
*/

body.refs {
    padding: 1rem 0 2rem 0;
}

body.facs h1 {
    margin: 0;
}

a.entree mark {
    background: transparent;
    color: var(--tonic);
}

a.entree {
    text-decoration: none;
    color: var(--gray);
}

a.entree b {
    color: var(--button_bg);
}

a.terme {
    display: block;
    margin-left: 5px;
    /* pour copier coller */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

a.terme small {
    position: absolute;
    right: 1rem;
    background-color: var(--bghi);
    color: #000;
}

section.volume {
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 0 0 5px 0;
}

div.volume {
    margin-bottom: 5px;
    padding: 0 5px;
    white-space: nowrap;
    background: #ccc;
    color: #ffffff;
    font-weight: bold;
}

#medica {
    display: flex;
    width: 100%;
}

#medica .entree {
    padding: 0;
    display: block;
    width: 5rem;
}

#medica .entree[href]:hover {
    background-color: var(--bg);
}

#medica-prev[href]::before {
    width: 1em;
    content: '◀';
}

#medica-ext {
    flex-grow: 2;
    text-align: center;
}

#medica-next[href]::after {
    position: absolute;
    right: 0;
    text-align: right;
    width: 1em;
    content: '▶';
}


/* biblio */

#dico_titre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 100vw;
    padding: 1rem;
}

#dico_titre .dico_label {
    display: block;
    width: 45%;
    padding: 5px;
    cursor: pointer;
    color: var(--gray);
}

#dico_titre .dico_label.checked {
    color: #000;
}

#dico_titre .dico_label:hover {
    background-color: var(--bghi);
}

.checkall {
    background-color: var(--bghi);
    font-weight: bold;
    padding: 5px;
}

#dico_titre button.submit {
    float: right;
}


/* split override */

.but.gutter {
    display: none;
}

.gutter {
    background-color: var(--form_border);
}

.gutter-vertical {
    height: 5px;
    border-top: 1px solid var(--button_color);
    border-bottom: 1px solid var(--bg);
    background-color: var(--form_border);
}

.gutter-horizontal {
    width: 5px;
    border-right: 1px solid var(--button_color);
    border-left: 1px solid var(--bg);
    background-color: var(--form_border);
}


/* viewer override */

.viewer-width::before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAAUCAYAAABWOyJDAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAQPSURBVHic7Zs/iFxVFMa/0U2UaJGksUgnIVhYxVhpjDbZCBmLdAYECxsRFBTUamcXUiSNncgKQbSxsxH8gzAP3FU2jY0kKKJNiiiIghFlccnP4p3nPCdv3p9778vsLOcHB2bfveeb7955c3jvvNkBIMdxnD64a94GHMfZu3iBcRynN7zAOI7TG15gHCeeNUkr8zaxG2lbYDYsdgMbktBsP03jdQwljSXdtBhLOmtjowC9Mg9L+knSlcD8TNKpSA9lBpK2JF2VdDSR5n5J64m0qli399hNFMUlpshQii5jbXTbHGviB0nLNeNDSd9VO4A2UdB2fp+x0eCnaXxWXGA2X0au/3HgN9P4LFCjIANOJdrLr0zzZ+BEpNYDwKbpnQMeAw4m8HjQtM6Z9qa917zPQwFr3M5KgA6J5rTJCdFZJj9/lyvGhsDvwFNVuV2MhhjrK6b9bFiE+j1r87eBl4HDwCF7/U/k+ofAX5b/EXBv5JoLMuILzf3Ap6Z3EzgdqHMCuF7hcQf4HDgeoHnccncqdK/TvSDWffFXI/exICY/xZyqc6XLWF1UFZna4gJ7q8BsRvgd2/xXpo6P+D9dfT7PpECtA3cnWPM0GXGFZh/wgWltA+cDNC7X+AP4GzjZQe+k5dRxuYPeiuXU7e1qwLpDz7dFjXKRaSwuMLvAlG8zZlG+YmiK1HoFqT7wP2z+4Q45TfEGcMt01xLoNZEBTwRqD4BLpnMLeC1A41UmVxsXgXeBayV/Wx20rpTyrpnWRft7p6O/FdqzGrDukPNtkaMoMo3FBdBSQMOnYBCReyf05s126fU9ytfX98+mY54Kxnp7S9K3kj6U9KYdG0h6UdLbkh7poFXMfUnSOyVvL0h6VtIXHbS6nOP+s/Zm9mvyXW1uuC9ohZ72E9uDmXWLJOB1GxsH+DxPftsB8B6wlGDN02TAkxG6+4D3TWsbeC5CS8CDFce+AW500LhhOW2020TRjK3b21HEmgti9m0RonxbdMZeVzV+/4tF3cBpP7E9mKHNL5q8h5g0eYsCMQz0epq8gQrwMXAgcs0FGXGFRcB9wCemF9PkbYqM/Bas7fxLwNeJPdTdpo4itQti8lPMqTpXuozVRVXPpbHI3KkNTB1NfkL81j2mvhDp91HgV9MKuRIqrykj3WPq4rHyL+axj8/qGPmTqi6F9YDlHOvJU6oYcTsh/TYSzWmTE6JT19CtLTJt32D6CmHe0eQn1O8z5AXgT4sx4Vcu0/EQecMydB8z0hUWkTd2t4CrwNEePqMBcAR4mrBbwyXLPWJa8zrXmmLEhNBmfpkuY2102xxrih+pb+ieAb6vGhuA97UcJ5KR8gZ77K+99xxeYBzH6Q3/Z0fHcXrDC4zjOL3hBcZxnN74F+zlvXFWXF9PAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: 280px;
    color: transparent;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    width: 20px;
}

.viewer-width::before {
    background-position: -180px 0;
    content: "Image width";
}